@import url('https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --font-main: 'Roboto', sans-serif;
    --font-accent: 'Raleway', sans-serif;

    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy: #2e2f42;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-white: #ffffff;
    --color-green: #31d0aa;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.header-container {
    display: flex;
        align-items: center;
        justify-content: space-between;
}

/* Reset */
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Utility */
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Base */
body {
    font-family: var(--font-main);
    color: var(--color-slate);
    background-color: var(--color-white);
    margin: 0;
}

/* Header */
.page-header {
background-color: var(--color-white);
    /* світлий фон */
    border-bottom: 1px solid var(--color-cornflower);
}

.main-nav {
    display: flex;
        align-items: center;
        border-right: 1px dashed var(--color-cornflower);
}
/* Logo */
.logo-link {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    text-decoration: none;
    margin-right: 76px
}

.logo-span {
    color: var(--color-navy);
}

.logo-accent {
    color: var(--color-cloud);
}

/* Navigation */
.nav-link {
display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-ocean);
}

/* Contacts */
.contact-address {
    font-style: normal;
}

.contact-link {
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--color-ocean);
}

/* Hero Section */
.hero-section {
    background-color: var(--color-navy);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-button {
    background-color: var(--color-iris);
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-ocean);
}

/* Section Titles */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy);
    margin-bottom: 72px;
}

/* Lists */
.nav-list,
.contact-list,
.features-list,
.portfolio-list,
.gallery-list,
.team-list {
    list-style: none;
    margin: 0;
}
.contact-list {
    display: flex;
    gap: 40px;
}
.nav-list {
    display: flex;
    gap: 40px;
}

/* Cards */
.team-name {
font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy);
    margin-bottom: 8px;
    text-align: center
}

.feature-text,
.portfolio-type,
.team-role {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-slate);
        margin: 0;
}

/* Portfolio Section */

.team-section {
   background-color: var(--color-cloud);
}

.portfolio-section {
    background-color: var(--color-cloud);
}

.portfolio-item {
    background-color: var(--color-white);
}

.portfolio-card {
    border-bottom: 1px solid var(--color-cornflower);
}

.footer-text {
    line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-cloud);
        max-width: 264px;
        margin: 0;
}

.features-section {
    background-color: var(--navy-blue);
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center
}
.team-card,
.gallery-item {
    width: 264px;
    /* або 360px для галереї */
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
}
.team-info {
    padding: 32px 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.gallery-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.gallery-list {
display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.gallery-card {
    padding: 32px 16px;
    border: 1px solid var(--color-cornflower);
    border-top: none;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
        list-style: none;
        background-color: var(--color-white);
}
.gallery-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.gallery-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    margin: 0;
}
.gallery-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy);
    margin-bottom: 8px;
}
.feature-item {
    text-align: center;
}
.features-list {
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        padding: 0;
        margin: 0;
}

.feature-item {
width: calc((100% - 72px) / 4);
    /* 4 елементи в рядку з 3 проміжками */
    list-style: none;
    text-align: left;
}
.feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy);
    margin-bottom: 8px;
}
.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    margin: 0;
}
.footer-section .logo-link {
 
    display: inline-block;
    margin-bottom: 16px;
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    text-decoration: none;
}
.hero-section,
.footer-section {
    background-color: var(--color-navy);
}
.footer-section {
    padding: 100px 0;
    background-color: var(--color-navy);
}
.gallery-section section {
    text-align: left;
}